<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SuperPathologyApp.Properties.Settings.SuperPathDb_DigitalConnectionString3"
            connectionString="Data Source=GHOST\SQL2014;Initial Catalog=SuperPathDb_Digital;User ID=sa;Password=ra710983"
            providerName="System.Data.SqlClient" />
        <add name="SuperPathologyApp.Properties.Settings.SuperPathDb_SMConnectionString"
            connectionString="Data Source=HIDEPC\SQL_2014;Initial Catalog=SuperPathDb_SM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SuperPathologyApp.Properties.Settings.SuperPathDb_DigitalConnectionString"
            connectionString="Data Source=HIDEPC\SQL_2014;Initial Catalog=SuperPathDb_Digital;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SuperPathologyApp.Properties.Settings.SuperPathDb_DGTConnectionString"
            connectionString="Data Source=HIDEPC\SQL_2014;Initial Catalog=SuperPathDb_DGT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SuperPathologyApp.Properties.Settings.MyDbConnectionString"
            connectionString="Data Source=(local)\SQL_2014;Initial Catalog=MyDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SuperPathologyApp.Properties.Settings.SuperPathDb_Digital_UpdateConnectionString"
            connectionString="Data Source=HIDEPC\SQL_2014;Initial Catalog=SuperPathDb_Digital_Update;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SuperPathologyApp.Properties.Settings.SuperPathDb_Digital_UpdateConnectionString1"
            connectionString="Data Source=DESKTOP-03PGO57\SQL_2014;Initial Catalog=SuperPathDb_Digital_Update;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SuperPathologyApp.Properties.Settings.SuperPathDb_Digital_NEWConnectionString"
            connectionString="Data Source=HIDEPC\SQL_2014;Initial Catalog=SuperPathDb_Digital_NEW;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SuperPathologyApp.Properties.Settings.SuperPathDb_Digital_NEWConnectionString1"
            connectionString="Data Source=DESKTOP-03PGO57\SQL_2014;Initial Catalog=SuperPathDb_Digital_NEW;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SuperPathologyApp.Properties.Settings.SuperPathDb_Digital_NEWConnectionString2"
            connectionString="Data Source=WORKPC11\SQL_2014;Initial Catalog=SuperPathDb_Digital_NEW;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SuperPathologyApp.Properties.Settings.SuperPathDb_PopConnectionString"
            connectionString="Data Source=DESKTOP-F22D9GN;Initial Catalog=SuperPathDb_Pop;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
        <add name="SuperPathologyApp.Properties.Settings.SuperPathDb_DigitalConnectionString1"
            connectionString="Data Source=DESKTOP-F22D9GN;Initial Catalog=SuperPathDb_Digital;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
        <add name="SuperPathologyApp.Properties.Settings.SuperPathDb_DigitalConnectionString2"
            connectionString="Data Source=WORKPC11\SQL_2014;Initial Catalog=SuperPathDb_Digital;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SuperPathologyApp.Properties.Settings.SuperPathDb_DigitalConnectionString4"
            connectionString="Data Source=OPTIMUS\SQL2014;Initial Catalog=SuperPathDb_Digital;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SuperPathologyApp.Properties.Settings.SuperPathDb_DigitalConnectionString5"
            connectionString="Data Source=DESKTOP-UCH1SN3;Initial Catalog=SuperPathDb_Digital;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>-->
	<startup useLegacyV2RuntimeActivationPolicy="true">
	
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
