<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyDataBase.Properties.Settings.SuperPathDb_DigitalConnectionString"
            connectionString="Data Source=DESKTOP-F22D9GN;Initial Catalog=SuperPathDb_Digital;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
        <add name="MyDataBase.Properties.Settings.SuperPathDb_DigitalConnectionString1"
            connectionString="Data Source=DESKTOP-F22D9GN;Initial Catalog=SuperPathDb_Digital;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
    
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
